form{
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  padding: 1%;
  div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
    label{
      width: inherit;
      align-content: start;
      margin-bottom: 1%;
    }
    input{
      width: fill-available;
      padding: 1%;
      border-width: 1px;
      border-radius: 1%;
    }
    button{
      width: inherit;
      margin-top: 2%;
      padding: 1%;
    }
  }
}