@import '../color.scss';

.container{
  text-align: center;
}

header{
  display: flex;
  .toolbar{
    display: flex;
    align-items: center;
    .logo_home{
      .logo{
        padding: 0;
        img{
          width: 300px;
        }
      }
    }
  }
}

@mixin icon-post {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

@mixin border-top {
  border-top: solid 1px;
  border-color:gray;
  box-shadow: 0 0 1.1px 0 black;
}

.supprimer-compte{
  padding-top: 7px;
  margin-left: 35px;
  .delete-icon{
    position: relative;
    top: 5px;
    cursor: pointer;
  }
}

.button-profil {
  width: 250px;
  height: 40px;
  margin: 1.5%;
  border: 0;
  border-radius: 10px 10px 10px 10px;
  color: $text-color;
  background-color: $secondary-color;
  cursor: pointer;
}
